#The token of your Telegram bot
TELEGRAM_BOT_TOKEN=
#Go to the Telegram bot @userinfobot and copy your ID
ADMIN_CHAT_ID=

DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=chatbot_db
DB_HOST=db
DB_PORT=5432